.google_lens0{
    border-radius: 10px;
    background-color: aliceblue;
}
.mobile_net0{
    border-radius: 10px;
    background-color: aliceblue;
}
.google_lens{
    border-radius: 10px;
    background-color: aliceblue;
}
.mobile_net{
    border-radius: 10px;
    background-color: aliceblue;
}
.google_lens1{
    border-radius: 10px;
    background-color: aliceblue;
}
.mobile_net1{
    border-radius: 10px;
    background-color: aliceblue;
}
.google_lens2{
    border-radius: 10px;
    background-color: aliceblue;
}
.mobile_net2{
    border-radius: 10px;
    background-color: aliceblue;
}
.google_lens3{
    border-radius: 10px;
    background-color: aliceblue;
}
.mobile_net3{
    border-radius: 10px;
    background-color: aliceblue;
}